#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

pkg		:= lush
pkg-lib		:= lush-library
pkg-emacs	:= lush-el

prefix		:= debian/$(pkg)
prefix-lib	:= debian/$(pkg-lib)

DESTDIR		:= $(shell pwd)/$(prefix)
DESTDIR-LIB	:= $(shell pwd)/$(prefix-lib)

lush-files	:= usr/lib/$(pkg)
lib-files	:= usr/lib/$(pkg)
abs-files	:= $(prefix)/$(lib-files)
abs-lib-files	:= $(prefix-lib)/$(lib-files)


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	#./configure --prefix=$(DESTDIR)/usr --srcdir=`pwd`
	./configure --prefix=$(DESTDIR)/usr --mandir=$(DESTDIR)/usr/share/man
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE) all
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	find . -type f -and -name \*~ -or -name .\*~ -exec rm -f {} \;
	rm -f debian/lush.postinst.* debian/lush.prerm.*
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install
	dh_installdirs -p $(pkg-lib) usr/share
	mv $(DESTDIR)/usr/share/lush $(DESTDIR-LIB)/usr/share/.
	mv $(DESTDIR-LIB)/usr/share/lush/etc $(DESTDIR)/usr/share/lush
	chmod -x `find $(DESTDIR-LIB) -name "*.h" -or -name "*.in" -or -name "*.lsh" -or -name "*.pro" -or -name "*.hlp" -or -name "*.png" -or -name "*.jpg"`
	chmod -x $(DESTDIR)/usr/share/lush/lush.el
	rm -f $(DESTDIR-LIB)/usr/share/lush/packages/sdl/SDL_copying.lsh

# Build architecture-independent files here.
binary-indep: build install


# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs -A 
#	dh_installexamples 
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman -p $(pkg) debian/lush.1
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs -A
#	dh_link
	dh_strip -p $(pkg)
	dh_compress -A
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps -A
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

